//头部样式
.content {
	padding-top: var(--status-bar-height);
}
image{
		display: block;
}
.top-bar {
	height: 88rpx;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
	.top-bar-left{
		float: left;
		margin-left: $uni-spacing-col-base;
		height: 88rpx;
		width: 68rpx;
		position: relative;
		.admin{
			position: absolute;
			width: 68rpx;
			height: 68rpx;
			border-radius: 16rpx;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
		.back{
			margin-top: 21rpx;
			width: 26rpx;
			height: 46rpx;
		}
	}
	.top-bar-center{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		image{
			width: 88rpx;
			height: 42rpx;
		}
	}
	.top-bar-right{
		float: right;
		padding-right: 14rpx;
		.search, .add{
			width: 88rpx;
			height: 88rpx;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		image{
			width: 52rpx;
			height: 52rpx;
		}
		.text{
			padding-right: 18rpx;
			font-size: $uni-font-size-lg;
			font-weight: 500;
			color: $uni-text-color;
			height: inherit;
			line-height: 88rpx;
			text-align: center;
		}
		
	}
}