image{
	display: block;
}
.content{
	font-family: PingFangSC-Regular;
	width: 750rpx;
}
.top-bar{
	padding:var(--status-bar-height) 32rpx 0;
	height: 88rpx;
	width: 686rpx;
	background: $uni-bg-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	.top-bar-left{
		position: absolute;
		bottom: 44rpx;
		left: 32rpx;
		transform: translateY(50%);
	}
	.top-bar-right{
		position: absolute;
		bottom: 44rpx;
		right: 32rpx;
		transform: translateY(50%);
	}
}
.main{
	margin-top: var(--status-bar-height);
	padding: 88rpx 32rpx 0;
}
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
					